// --------------------------------------------------
// COLORS 
// --------------------------------------------------

$blue:                      #39ADD1 !default;
$blue-alt:                  rgb(127, 173, 242) !default;
$blue-light:                #72D4FF;
$blue-black:                #FFCDE7;
// $green:                     rgb(117, 204, 31) !default;;
$green:                     #5CB860 !default;
$pink:                      #F092B0 !default;
$pink-dark:                 #C25975 !default;


/* CYAN COLOR SCHEME
 */
$cyan:                      #69AED1 !default;   // main banner, links, buttons
$cyan-grey:                 #C8D5DB !default;   // footer, border
$purple-light:              #777999 !default;
$green-nice:                #699    !default;
$yellow-dark:               #F1C476 !default;
$yellow-light:              rgb(251, 230, 193) !default;

/* RED COLOR SCHEME
 */
$red:               #DB4437 !default

/** COMMON 
 */
$gray-darkest:              #444444 !default;
$gray-darker:               #5B5B5B !default;
$gray-dark:                 #737273 !default;
$gray:                      #A3A3A3 !default;
$gray-light:                #eceeef !default;
$gray-lighter:              #FAFAFA !default;
$gray-lightest:             #FCFCFC !default;

// --------------------------------------------------
// COLORS 
// --------------------------------------------------

// font-family

// @import 'https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700';

$font-family-base:   'open sans', helvetica, sans-serif

